<%- include('partials/_header2')%>

  <section class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        
        <div class="col-md-12 ">
          <h2 style="text-align: center;">Hoşgeldin Göksu Bey.</h2>
          <div class="heading_container ">
          </div>
          
          <form action="/" method="POST">
            
            <div>
              
              <input type="password" name="password" placeholder="Parola" />
            </div>
            <div class="btn-box">
              <button>
                Giriş
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

